/*ROOT STYLES*/
*{
    font-family: 'Roboto';
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: white;
    background-color: #202124;  
}

/*HEADER STYLES*/
.header-container {
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    background-color: #171717;
    justify-content: space-between;
}

.header_two {
    display: flex;
    align-items: center;
}

.header_two a {
    padding: 10px;
    text-decoration: none;
}

.nav_links a {
    color: white;
    transition: all 0.3s ease 0s;
}

.nav_links a:hover{
    color: #0088a9;
}

.index_button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #51369A;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.index_button:hover {
    background-color: rgba(0,136,169,0.8);
}


/*Content*/
.content{
    flex:1;
}

/* FOOTER STYLES */

.footer-container{
    background-color: #171717;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}


.footer_first li{
    list-style: none;
}


.footer_second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_icons {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.logo_footer {
    cursor: pointer;
    width: 70%;
}

.icons_footer{
    cursor: pointer;
    width: 70%;
}



/* HOME PAGE STYLES  */

.index_content_1{
    font-size: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px;
}

.index_content_2{
    display:flex;
    justify-content: center;
    font-size: 25px;
}

.index_content_3{
    display:flex;
    flex-direction: row;
}

.index_content_3 div{
    border-radius: 25px;
    font-size: 25px;
    background-color: #171717;
    margin: 20px 20px 70px 20px;
    padding: 25px 25px 25px 25px;
}


.index_image img{
    padding: 33.5px;
    border-radius: 50px;
    width: 600px;
}

.icons_index{
    width: 100px;
}


/* LOGIN FORM STYLES*/

.form-container{
    display: flex;
    height: auto;
    margin: 0;
    width: 100%;
}
.login-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5%;
}
.login-container h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.login-button{
    background-color: #51369A;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    background-color: #3B364C;
    width: 300px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
}


.form-button {
    background-color: #51369A;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 120px;
    text-align: center;
}


.missed-pass{
    color: #8D70DA;
    text-decoration: none;
    font-size: 16px;
    text-align: left;
}

.signup-div{
    width: 400px;
    margin-top: 20px;
    border-top: 1px solid #5c5c5c;
    justify-content: right;
    text-align: right;
    font-size: 18px;
}

.signup-button{
    background-color: #51369A;
    height: 30px;
    width: 400px;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.loginimg-container{
    display: flex;
    width: 70%;
    padding: 0;
    margin: 0;
    height: 90vh;
}

.signupimg-container{
    display: flex;
    width: 60%;
    padding: 0;
    margin: 0;
    height: 90vh;
}

/*INICIO STYLES*/

.home-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 60% 17%;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ultimos{
    display: grid;
    grid-template-columns: 50% 48%;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-group{
    background-color: #35333C;
    border-radius: 5px;
    padding: 20px;
}

.home-group .section-title{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 3px solid #ffff;
}

.calendar-container{
    position: relative;
    max-width: 500px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td{
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #555;
}

th{
    font-weight: bold;
}

.flatpickr-calendar {
    background: #35333C !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.flatpickr-day {
    color: white !important;
}

.flatpickr-day.selected {
    background: #e4e4e4 !important;
    border-color: #000000 !important;
    color: black !important;
    transition: all ease 0.3s;
}

.flatpickr-day.today {
    border-color: #ffffff !important;
}


@media (max-width: 768px) {
    .home-container {
        grid-template-columns: 1fr;
    }
}
/* SIGNUP STYLES*/

.signup-names{
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    margin-bottom: 15px;
}

.short-input{
    background-color: #3B364C;
    width: 155px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}


.signup-form{
    padding-left: 1.5rem;
}

.next-button{
    width: 250px;
    height: 30px;
    text-align: center;
    background-color: #51369A;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    align-self: center;
    margin-right: 16%;
    transition: all ease 0.5s;
}

.next-button:hover{
    background-color: #0088a9;
}

.signup-header{
    display: flex;
    gap: 20px;
    margin-bottom: 5%;
}

.back-button{
    cursor: pointer;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.signup-header h2{
    margin: 0;
}

.signup-header a{
    text-decoration: none;
    color:white;
    transition: 0.5s ease-in;
}

.signup-header a:hover{
    color: #51369A;
    transition: 0.5s ease-in;
}

/*RegPacientes STYLES*/

.paciente-form{
    position: relative;
}

.paciente-steps{
    display: flex;
    gap: 30px;
    margin: 20px 10px;
    position: relative;
}

.step{
    width: 200px;
    cursor: pointer;
    margin-left: 5px;
    height: 10px;
    min-width: 100px;
}

#progress{
    position: absolute;
    height: 100%;
    width: 225px;
    border-bottom: solid 4px #51369A;
    transition: 0.5s;
    cursor: pointer;
}

.paciente-form #form1, #form2, #form3, #form4, #form5{
    position: absolute;
    transition: 0.5s;
}

#form1{
    left: 40px;
}

#form2{
    left: -100%;
}

#form3{
    left: -100%;
}

#form4{
    left: -100%;
}

#form5{
    left: -100%;
}

.datos-group label {
    display: block;
    margin-bottom: 5px;
}

.datos-group input,
.datos-group select {
    width: 300px;
    height: 30px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.datos-group input:last-child {
    margin-bottom: 10px;
}

.input-general{
    width:300px;
    height: 30px;
    padding: 8px 12px;
    margin-bottom: 16px;
    color: #000000;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    position: absolute;
    left: 90%;
    top: 90%;
    gap: 10px;
}

.button-container button{
    width: 150px;
    height: 40px;
}

.form-step{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

input[type="date"], input[type="number"], input[type="tel"]{
    width: 130px;
}

select.short-input{
    width: 155px;
    height: 45px;
}

textarea.short-input{
    resize: vertical;
    width: 100%;
    height: 100px;
    min-height: 100px;
}

/* RECETAS STYLES*/
    
.receta-container {
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 30px;
    margin-bottom: 20px;
}

.form-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 20px;
}

.short-inputs{
    display: flex;
    gap: 10px;
}
    
.form-group {
    display: flex;
    flex-direction: column;
}
    
label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}
    
textarea.short-input {
    min-height: 150px;
    resize: vertical;
}
    
.section-title {
    margin: 30px 0 20px;
    border-bottom: 3px solid #555;
}
    
.section-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
    
.button-container {
    text-align: right;
    margin-top: 20px;
}

/*RegHitorial STYLES*/

.home-grou{
    background-color: #35333C;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    height: auto;
    width: auto;
}

.home-grou .section-title{
    width: auto;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 3px solid #ffff;
}

.historial-form{
    position: relative;
}

.historial-steps{
    display: flex;
    gap: 30px;
    margin: 20px 10px;
    position: relative;
}

.historial-steps {
    text-align: center;
    margin-top: 20px;
}

.historial-steps .step {
    cursor: pointer;
    margin: 10px 0;
    color: #ffffff;
    transition: color 0.3s ease;
}

.historial-steps .step:hover {
    color: #ffffff;
}


.step{
    width: 200px;
    cursor: pointer;
    margin-left: 5px;
    height: 10px;
    min-width: 100px;
}

#progress{
    position: absolute;
    height: 100%;
    width: 225px;
    border-bottom: solid 4px #51369A;
    transition: 0.5s;
    cursor: pointer;
}

.historial-form #form1, #form2, #form3, #form4, #form5{
    position: absolute;
    transition: 0.5s;
}

#form1{
    left: 40px;
}

#form2{
    left: -100%;
}

#form3{
    left: -100%;
}

#form4{
    left: -100%;
}

#form5{
    left: -100%;
}

.datos-group label {
    display: block;
    margin-bottom: 5px;
}

.datos-group input,
.datos-group select {
    width: 300px;
    height: 30px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.datos-group input:last-child {
    margin-bottom: 10px;
}

.input-general{
    width:300px;
    height: 30px;
    padding: 8px 12px;
    margin-bottom: 16px;
    color: #000000;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    position: absolute;
    left: 90%;
    top: 90%;
    gap: 10px;
}

.button-container button{
    width: 150px;
    height: 40px;
}

.form-step{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

input[type="date"], input[type="number"], input[type="tel"]{
    width: 130px;
}

select.short-input{
    width: 155px;
    height: 45px;
}

textarea.short-input{
    resize: vertical;
    width: 100%;
    height: 100px;
    min-height: 100px;
}
