{% extends "base.html" %}

{% load static %}

{% block title %}Contáctanos{% endblock %}

{% block content %}

<div class="form-container">
    <div class="login-container">
        <div class="signup-header">
            <a href="{% url 'index' %}" style="margin-top: 15px;"><span class="back-button"><</span></a>
            <h2 style="padding: 10px">Contáctanos</h2>
        </div>
        <form id="contactForm" action="{% url 'contacts' %}" method="POST">
            {% csrf_token %}
            <div class="signup-names">
                <div class="input-group">
                    <label for="name">Nombres</label>
                    <input class="short-input" name="name" type="text" required>
                </div>

                <div class="input-group" style="margin-left: -150px;">
                    <label for="lname">Apellidos</label>
                    <input class="short-input" name="lname" type="text" required>
                </div>
            </div>

                <div style="margin-top: 30px; margin-left: 25px;" class="input-group">
                    <label for="telephone">Número de teléfono</label>
                    <input class="short-input" name="telephone" type="tel" pattern="[0-9]{10}" placeholder="1234567890" maxlength="10" required>
                </div>
                
                <div style="margin-top: 30px; margin-left: 25px;" class="input-group">
                    <label for="email">Correo electrónico</label>
                    <input class="form-input" name="email" type="email" placeholder="correo@dominio.com" required>
                </div>    
            
                <div style="margin-top: -300px; margin-left: -1250px;" class="button-container">    
                    <button class="next-button" type="submit">Enviar</button>
                </div>     
        </form>
    </div>
    <div class="loginimg-container">
        <img src="{% static 'assets/contactus.jpg' %}" style="width: 70%; height: 70% !important; border-radius: 50px; margin-top: 60px; margin-left: 60px;">
    </div>
</div>

<script>
    document.getElementById("contactForm").onsubmit = function (event) {
        alert("Gracias por contactarnos, en unos momentos un ejecutivo se pondrá en contacto contigo.");
        setTimeout(() => {
            window.location.href = "{% url 'index' %}";
        }, 3000);
    };
</script>

{% endblock %}
