{% extends "base.html" %}

{% load static %}

{% block title %}Contáctanos{% endblock %}

{% block content %}

<div class="form-container">
    <div class="login-container">
        <div class="signup-header">
            <a href="{% url 'home' %}"><span class="back-button"><</span></a>
            <h2>Contáctanos</h2>
        </div>
        <form id="contactForm" action="{% url 'contacts' %}" method="POST">
            {% csrf_token %}
            <div class="signup-names">
                <div class="input-group">
                    <label for="name">Nombre</label>
                    <input class="short-input" name="name" type="text" required>
                </div>

                <div class="input-group">
                    <label for="lname">Apellidos</label>
                    <input class="short-input" name="lname" type="text" required>
                </div>
            </div>

            <label for="telephone">Número de teléfono</label>
            <input class="form-input" name="telephone" type="tel" pattern="[0-9]{10}" placeholder="1234567890" required>

            <label for="email">Correo electrónico</label>
            <input class="form-input" name="email" type="email" placeholder="correo@dominio.com" required>

            <button class="next-button" type="submit">Siguiente</button>
        </form>
    </div>
    <div class="loginimg-container">
        <img src="{% static 'assets/contactus.jpg' %}" style="width: 70%; height: 70%">
    </div>
</div>

<script>
    document.getElementById("contactForm").onsubmit = function (event) {
        alert("Gracias por contactarnos, en unos momentos un ejecutivo se pondrá en contacto contigo.");
        setTimeout(() => {
            window.location.href = "{% url 'index' %}";
        }, 3000);
    };
</script>

{% endblock %}
