{% extends "base.html" %}
{% load static %}

{% block title %}Historial{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Clínico</title>
 <style>
    h1, h2 {
        margin-top: 0;
        text-align: center;
    }

    .container {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }

    .menu {
        display: flex;
        justify-content: center;
        background-color: #444;
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .menu a {
        color: #E0E0E0;
        text-decoration: none;
        margin: 15px;
        font-weight: bold;
    }

    .menu a:hover {
        color: #4CAF50;
    }

    .section {
        background-color: #3C3C3C;
        padding: 20px;
        margin-top: 50px;
        border-radius: 5px;
        display: none;
    }

    .section.active {
        display: block;
    }

    .pain-scale {
        display: flex;
        margin-bottom: 15px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .column, .col {
        width: 50%;
    }

    input[type="text"], input[type="date"], input[type="email"], input[type="number"], select {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: white;
        color: black;
        margin-bottom: 15px; 
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    .toggle {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-left: 10px;
        margin-bottom: 20px; 
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .toggle input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 20px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    .toggle input:checked + .slider {
        background-color: #4CAF50;
    }

    .toggle input:checked + .slider:before {
        transform: translateX(20px);
    }

    #antecedentes .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #antecedentes .col-md-4,
    #antecedentes .col-md-5 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    #antecedentes label {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #antecedentes select,
    #antecedentes input[type="text"] {
        width: 100%;
        max-width: 200px;
    }
    .menu {
    display: flex;
    background-color: #f0f0f0;
}

.menu-item {
    position: relative; /* Necesario para el posicionamiento del submenú */
    margin-right:10px; /* Espaciado entre elementos del menú */
}

.menu-item a {
    text-decoration: none;
    padding: 5px;
    color: #333;
}

.submenu {
    display: none; /* Oculto por defecto */
    position: absolute; /* Posicionamiento relativo al elemento padre */
    top: 100%; /* Alineado justo debajo del menú principal */
    left: 0;
    background-color: #fff; /* Color de fondo del submenú */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar el submenú */
    white-space: nowrap; /* Para evitar el salto de línea */
}

.menu-item:hover .submenu {
    display: flex; /* Muestra el submenú al pasar el mouse */
}

.submenu a {
    padding: 5px;
    white-space: nowrap; /* Mantiene los enlaces en una sola línea */
    color: #333;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}

    
</style>

</head>
<body>
    <div class="menu">
        <div class="menu-item">
            <a href="#" onclick="showSection('datosGenerales')">Datos Generales</a>
            <div class="submenu">
                <a href="#" onclick="showSection('exploracionFisica')">Exploración Física</a>
                <a href="#" onclick="showSection('estiloVida')">Estilo de Vida</a>
                <a href="#" onclick="showSection('antecedentes')">Antecedentes</a>
            </div>
        </div>
        <div class="menu-item">
            <a href="#" onclick="showSection('descripcionDolor')">Descripción de Dolor</a>
            <div class="submenu">
                <a href="#" onclick="showSection('marchaDeambulacion')">Marcha / Deambulación</a>
                
            </div>
        </div>
        <div class="menu-item">
            <a href="#" onclick="showSection('evaluacionMuscular')">Evaluación Muscular</a>
            <div class="submenu">
                <a href="#" onclick="showSection('evaluacionGoniométrica')">Evaluación Goniométrica</a>
            </div>
        </div>
        <div class="menu-item">
            <a href="#" onclick="showSection('evaluacionMS')">Evaluación Miembros Superiores</a>
            <div class="submenu">
                
            </div>
        </div>
        <div class="menu-item">
            <a href="#" onclick="showSection('evaluacionMI')">Evaluación Miembros Inferiores</a>
            <div class="submenu">
            
            </div>
        </div>
    </div>
                               
                           
    <section>
    <div class="container">
        <h1>Historial Clínico</h1>
       <section>
        <div id="datosGenerales" class="section active">
            <h2>Datos Generales</h2>
            <div class="row">
                <div class="column">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">
                </div>
                <div class="column">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
                </div>
                <div class="column">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="telefono">Teléfono</label>
                    <input type="text" id="telefono" name="telefono">
                </div>
                <div class="column">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" name="email">
                </div>
            </div>
        </div>
    </section>


<section>
        <div id="exploracionFisica" class="section">
            <h2>Exploración Física</h2>
            <div class="row">
                <div class="column">
                    <label for="sexo">Sexo</label>
                    <input type="text" id="sexo" name="sexo">
                </div>
                <div class="column">
                    <label for="talla">Talla</label>
                    <input type="text" id="talla" name="talla" placeholder="cm">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="peso">Peso</label>
                    <input type="text" id="peso" name="peso" placeholder="kg">
                </div>
                <div class="column">
                    <label for="imc">IMC</label>
                    <input type="text" id="imc" name="imc">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="estatura">Estatura</label>
                    <input type="text" id="estatura" name="estatura" placeholder="cm">
                </div>
                
            </div>
            <h3>Mujer</h3>
            <div class="row">
                <label>                      
                    <label class="toggle">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    Embarazo
                </label>
                <div class="column">
                    <label for="gestacion">Trimestre de gestación</label>
                    <select id="gestacion" name="gestacion">
                        <option value=""></option>
                        <option value="primera">Primer trimestre</option>
                        <option value="segunda">Segundo trimestre</option>
                        <option value="tercera">Tercer trimestre</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="estiloVida" class="section">
            <h2>Estilo de Vida</h2>
    
            <div class="row">
                <div class="column">
                    <label for="ocupacion">Ocupación</label>
                    <input type="text" id="ocupacion" name="ocupacion">
                </div>
                <div class="column">
                    <label for="actividad_fisica">Actividad física</label>
                    <input type="text" id="actividad_fisica" name="actividad_fisica">
                </div>
            </div>
    
            <p>Consume:</p>          
            <div class="row">
                <div class="col-md-4">
                    <label class="toggle">
                        <input type="checkbox" id="bebe_alcohol" name="bebe_alcohol">
                        <span class="slider"></span>                      
                    </label>
                    Alcohol
                </div>
                <div class="col-md-4">
                    <label class="toggle">
                        <input type="checkbox" id="fuma" name="fuma">
                        <span class="slider"></span>                      
                    </label>
                    Cigarrillo
                </div>
                <div class="col-md-4">
                    <label class="toggle">
                        <input type="checkbox" onclick="toggleTextField('especifiquefarmaco')">
                        <span class="slider"></span>
                    </label>
                    Drogas o fármacos
                    <input type="text" id="especifiquefarmaco" hidden placeholder="Especifique drogas o fármacos">
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div id="antecedentes" class="section">
            <h2>Antecedentes</h2>
            <div class="row">
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        Diabetes
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="tipo1">tipo 1</option>
                        <option value="tipo2">tipo 2</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" onclick="toggleTextField('especifiqueAlergias')">
                            <span class="slider"></span>
                        </label>
                        Alergias
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="alimentaria">Alimentarias</option>
                        <option value="estacionales">Estacionales</option>
                        <option value="medicamentos">Medicamentos</option>
                        <option value="animales">Animales</option>
                        <option value="respiratoria">Respiratorias</option>
                        <option value="cutanea">Cutáneas </option>
                        <option value="Otra">Otra</option>
                    </select>
                    <input type="text" id="especifiqueAlergias" hidden placeholder="Especifique Alergias">
                </div>
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" onclick="toggleTextField('especifiqueFractura')">
                            <span class="slider"></span>
                        </label>
                        Fracturas
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="fractura_cerrada">Fractura Cerrada</option>
                        <option value="fractura_abiera">Fractura Abierta</option>
                        <option value="fractura_coompleta">Fractura Completa</option>
                        <option value="fractura_incompleta">Fractura Incompleta</option>
                        <option value="fractura_estres">Fractura por Estres</option>
                        <option value="fractura_desplazada">Fractura Desplazada</option>
                    </select>
                    <input type="text" id="especifiqueFractura" hidden placeholder="Especifique el lugar">
                </div>
              
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" onclick="toggleTextField('especifiqueCancer')">
                            <span class="slider"></span>
                        </label>
                        Cáncer
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="cancer_mama">Cáncer de mama</option>
                        <option value="cancer_cabeza">Cáncer de cabeza y cuello</option>
                        <option value="cancer_pulmon">Cáncer de pulmón</option>
                        <option value="cancer_prostata">Cáncer de próstata</option>
                        <option value="cancer_cereblar">Cáncer cerebral/médula espinal</option>
                        <option value="cancer_linfoma">Linfoma/leucemia</option>
                        <option value="otro">Otra</option>
                    </select>
                    <input type="text" id="especifiqueCancer" hidden placeholder="Especifique Cáncer">
                </div>
               
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" onclick="toggleTextField('especifiqueER')">
                            <span class="slider"></span>
                        </label>
                        ER
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="artritis_r">Artritis Reumatoide</option>
                        <option value="osteoartritis">Osteoartritis</option>
                        <option value="lupus">Lupus</option>
                        <option value="espondilitis">Espondilitis Anquilosante</option>
                        <option value="artritis_p">Artritis Psoriásica</option>
                        <option value="fibromialgia">Fibromialgia</option>
                        <option value="Otra">Otra</option>
                    </select>
                    <input type="text" id="especifiqueER" hidden placeholder="Especifique ER">
                </div>
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" onclick="toggleTextField('especifiqueCirugia')">
                            <span class="slider"></span>
                        </label>
                        Cirugías
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="ortopedica">Ortopédica</option>
                        <option value="cardiaca">Cardíaca</option>
                        <option value="neurologica">Neurológica</option>
                        <option value="Otra">Otra</option>
                    </select>
                    <input type="text" id="especifiqueCirugia" hidden placeholder="Especifique Cirugías">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        Cardiopatía
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="coronaria">Coronaria</option>
                        <option value="valvular">Insuficiencia </option>
                        <option value="arritmias">Arritmias</option>
                        <option value="congenita">congénita</option>
                        <option value="valvulopatias">Valvulopatías</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" onclick="toggleTextField('especifiqueHTA')">
                            <span class="slider"></span>
                        </label>
                        HTA
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="primaria">Primaria </option>
                        <option value="secundaria">Secundaria</option>
                    </select>
                    <input type="text" id="especifiqueHTA" hidden placeholder="Especifique HTA">
                </div>
                <div class="col-md-5">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" onclick="toggleTextField('especifiqueLesiones')">
                            <span class="slider"></span>
                        </label>
                        Lesiones Musculares
                    </label>
                    <select>
                        <option value=""></option>
                        <option value="esguince">Esguince</option>
                        <option value="distension">Distensión</option>
                        <option value="desgarro">Desgarro </option>
                        <option value="contusion">Contusión</option>
                        <option value="tendinitis">Tendinitis</option>
                        <option value="bursitis">Bursitis</option>
                        <option value="Otra">Otra</option>
                    </select>
                    <input type="text" id="especifiqueLesiones" hidden placeholder="Especifique Lesiones">
                </div>
            </div>
        </div>
    </section>

<section>
        <div id="marchaDeambulacion" class="section">
            <h2>Marcha / Deambulación</h2>
            <div class="row">
                <div class="column">
                    <label>                       
                        <label class="toggle">
                            <input type="checkbox" id="libre" name="libre">
                            <span class="slider"></span>
                        </label>
                        Libre
                    </label>
                </div>
                <div class="column">
                    <label>                     
                        <label class="toggle">
                            <input type="checkbox" id="con_ayuda" name="con_ayuda">
                            <span class="slider"></span>
                        </label>
                        Con Ayuda
                    </label>
                    <select id="ayuda_tipo" name="ayuda_tipo">
                        <option value=""></option>
                        <option value="">Silla de ruedas</option>
                        <option value="muletas">Muletas</option>
                        <option value="baston">Bastón</option>
                        <option value="andador">Andador</option>
                        <option value="camilla">Camilla</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label>                   
                        <label class="toggle">
                            <input type="checkbox" id="claudicante" name="claudicante">
                            <span class="slider"></span>
                        </label>
                        Claudicante
                    </label>
                    <select id="claudicante_tipo" name="claudicante_tipo">
                        <option value=""></option>
                        <option value="marcha_claudicanteeve">Marcha claudicante</option>
                        <option value="postura_claudicante">Postura claudicante</option>
                        <option value="debilidad_muscular">Debilidad muscular</option>
                        <option value="paraparesia">Paraparesia</option>
                        <option value="hipotonía">Hipotonía</option>
                    </select>
                </div>
                <div class="column">
                    <label>
                        <label class="toggle">
                            <input type="checkbox" id="ataxica" name="ataxica">
                            <span class="slider"></span>
                        </label>
                        Atáxica
                    </label>
                    <select id="ataxica_tipo" name="ataxica_tipo">
                        <option value=""></option>
                        <option value="marcha_ataxica">Marcha atáxica</option>
                        <option value="coordinación_ataxica">Coordinación atáxica</option>
                        <option value="postura_ataxica">Postura atáxica</option>
                        <option value="falta_coordinación">Falta de coordinación</option>
                        <option value="falta_equilibrio">Falta de equilibrio</option>
                    </select>
                    <label>
                        <label class="toggle">
                            <input type="checkbox" id="ataxica" name="ataxica">
                            <span class="slider"></span>
                        </label>
                        Espástica
                    </label>
                    <select id="ataxica_tipo" name="ataxica_tipo">
                        <option value=""></option>
                        <option value="marcha_espastica">Marcha espástica</option>
                        <option value="espasticidad_muscular">Espasticidad muscular</option>
                        <option value="paralisis_espastica">Parálisis espástica</option>
                        <option value="rigidez_muscular">Rigidez muscular</option>
                        <option value="hiperreflexia">Hiperreflexia </option>
                    </select>
                </div>
            </div>
        </div>
    
</section>
    
<section>
    <div id="descripcionDolor" class="section">
        <h2>Descripción de Dolor</h2>
    <div class="col-md-5">
        <label for="pain-level">Escala de Dolor: <span id="pain-level-value">0</span></label>
        <input type="range" id="pain-level" name="pain-level" min="0" max="5" value="0" oninput="updatePainLevel(this.value)">
    </div>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label for="tipo-dolor">Tipo de Dolor</label>
                    <select id="tipo-dolor" name="tipo-dolor">
                        <option value=""></option>
                        <option value="dolor-intermitente">Dolor Intermitente</option>
                        <option value="dolor-agudo">Dolor Agudo</option>
                        <option value="dolor-cronico">Dolor Crónico</option>
                    </select>                      
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label for="inicio-dolor">¿Cuándo inició el Dolor?</label>
                    <input type="date" id="inicio-dolor" name="inicio-dolor">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label for="detonante">Detonante</label>
                    <select id="detonante" name="detonante">
                        <option value=""></option>
                        <option value="actividades-fisicas">Actividades Físicas</option>
                        <option value="estres">Estrés</option>
                        <option value="postura">Postura</option>
                    </select>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label for="especifique">Especifique</label>
                    <input type="text" id="especifique" name="especifique" placeholder="Como describe el dolor">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="evaluacionMuscular" class="section">
        <h2>Evaluación Muscular</h2>
        
        <div class="row">
            <div class="col-md-3">
                <label for="cuello_derecha">Cuello (Derecha - Eval. 1)</label>
                <select id="cuello_derecha" name="cuello_derecha">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="cuello_izquierda">Cuello (Izquierda - Eval. 1)</label>
                <select id="cuello_izquierda" name="cuello_izquierda">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="cuello_derecha_eval2">Cuello (Derecha - Eval. 2)</label>
                <select id="cuello_derecha_eval2" name="cuello_derecha_eval2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="cuello_izquierda_eval2">Cuello (Izquierda - Eval. 2)</label>
                <select id="cuello_izquierda_eval2" name="cuello_izquierda_eval2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="torso_derecha">Torso (Derecha - Eval. 1)</label>
                <select id="torso_derecha" name="torso_derecha">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="torso_izquierda">Torso (Izquierda - Eval. 1)</label>
                <select id="torso_izquierda" name="torso_izquierda">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="torso_derecha_eval2">Torso (Derecha - Eval. 2)</label>
                <select id="torso_derecha_eval2" name="torso_derecha_eval2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="torso_izquierda_eval2">Torso (Izquierda - Eval. 2)</label>
                <select id="torso_izquierda_eval2" name="torso_izquierda_eval2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
                <!-- Bloque para M. SUP -->
                <div class="row">
                    <div class="col-md-3">
                        <label for="m_sup_derecha">M. SUP (Derecha - Eval. 1)</label>
                        <select id="m_sup_derecha" name="m_sup_derecha">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="m_sup_izquierda">M. SUP (Izquierda - Eval. 1)</label>
                        <select id="m_sup_izquierda" name="m_sup_izquierda">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="m_sup_derecha_eval2">M. SUP (Derecha - Eval. 2)</label>
                        <select id="m_sup_derecha_eval2" name="m_sup_derecha_eval2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="m_sup_izquierda_eval2">M. SUP (Izquierda - Eval. 2)</label>
                        <select id="m_sup_izquierda_eval2" name="m_sup_izquierda_eval2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
        
                <!-- Bloque para M. INF -->
                <div class="row">
                    <div class="col-md-3">
                        <label for="m_inf_derecha">M. INF (Derecha - Eval. 1)</label>
                        <select id="m_inf_derecha" name="m_inf_derecha">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="m_inf_izquierda">M. INF (Izquierda - Eval. 1)</label>
                        <select id="m_inf_izquierda" name="m_inf_izquierda">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="m_inf_derecha_eval2">M. INF (Derecha - Eval. 2)</label>
                        <select id="m_inf_derecha_eval2" name="m_inf_derecha_eval2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="m_inf_izquierda_eval2">M. INF (Izquierda - Eval. 2)</label>
                        <select id="m_inf_izquierda_eval2" name="m_inf_izquierda_eval2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
        
    </div>
</section>



</div>


    <script>
        function showSection(sectionId) {
            document.querySelectorAll('.section').forEach(section => {
                section.classList.remove('active');
            });
            document.getElementById(sectionId).classList.add('active');
        }

        function toggleTextField(id) {
            const field = document.getElementById(id);
            field.hidden = !field.hidden; // Cambia el valor de "hidden" al contrario de su valor actual
        }

        function selectPainLevel(level) {
            alert('Has seleccionado el nivel de dolor: ' + level);
            // Aquí puedes agregar más lógica, como almacenar el nivel seleccionado en un campo oculto
        }

        function updatePainLevel(value) {
        document.getElementById('pain-level-value').textContent = value;
        // Aquí también puedes agregar lógica para almacenar el valor seleccionado
        }
    </script>
</body>
</html>
{% endblock %}