{% extends "base.html" %}

{% load static %}

{% block title %} MyPhysio {% endblock %}

{%block content %}
    <div class="index-container">
        
        <div class="index_content_1">
            <div class="index_text_1">
                <h1>Organiza tu tiempo, <br>tus <span style="color: #008CFF">pacientes</span>, tu <span style="color: #008CFF">carrera</span></h1>
    
                <h2> Con MyPhysio puedes manejar a tus pacientes<br>
                de manera facil y rapida organizando citas,<br>
                recetas, historiales y más. </h2>
        
                <a href="/register"><button class = "index_button">Registrate</button></a>
            </div>
            
            <div class="index_image">
                <img src="{% static 'assets/login_image.jpg' %}">
            </div>
        </div>
        
        <div class="index_content_2">
            <h1>Mantente al día en <span style="color: #008CFF">cualquier lugar</span></h1>
        </div>

        <div class="index_content_3">
            <div>
                <a class="icons"> <img class = "icons_index" src="{% static 'assets/paciente.png' %}"></a>
                <h1>Gestión de <br>pacientes</h1>
                <h2>Con MyPhysio puedes manejar a tus pacientes
                    de manera facil y rapida organizando citas,
                    recetas, historiales y más. </h2>
            </div>
        
            <div>
                <a class="icons"><img class = "icons_index" src="{% static 'assets/calendario.png' %}"></a>               
                <h1>Gestión de <br>citas médicas</h1>
                <h2>Con MyPhysio puedes manejar tus citas
                de manera facil y eficaz, organizando las visitas,
                de tus pacientes con una interfaz amigable. <h2>
            </div>
                
            <div>
                <a class="icons"><img class = "icons_index" src="{% static 'assets/reporte.png' %}"></a>              
                <h1>Historiales y <br>reportes</h1>
                <h2>Con MyPhysio puedes manejar tus reportes
                    de una manera rapida y sencilla, con formatos practicos
                    sencillos, y al alcance de tus pacientes. </h2>
            </div>
        </div>    
        
    </div>
    
{% endblock  %}

