{% extends "base.html" %}

{% load static %}

{% block title %} Inicio de sesión {% endblock %}

{%block content %}
    <div class="form-container">
        <div class="login-container">
            <form class="form">
                <h2>Inicio de sesión</h2>
                <input class="form-input" name="user" type="text" placeholder="Correo electrónico o número de teléfono" >
                <input class="form-input" name="pass" type="password" placeholder="Contraseña">
                <button class="form-button">Iniciar sesión</button>
                <a class="missed-pass" href="">¿Olvidaste tu contraseña?</a>
            </form>
            <div class="signup-div">
                <p>¿No tienes una cuenta?</p>
                <a class="signup-button" href="/register">Crear cuenta nueva</a>
            </div>
        </div>
        <div class="loginimg-container">
            <img class="login-image" src="{% static 'assets/loginimage.jpg' %}">
        </div>
    </div>
{% endblock  %}

