{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html>
    <body>
        <div class="header">
            <a href="/"><img class="logo" src="{% static 'assets/logo1.jpg' %}"></a>
            <a class="about" href="/aboutus"><h2>Quienes somos</h2></a>
        </div>
        <div class="form-container">
            <div class="login-container">
                <form class="form">
                    <h2>Inicio de sesión</h2>
                    <input class="form-input" name="user" type="text" placeholder="Correo electrónico o número de teléfono" ></input>
                    <input class="form-input" name="pass" type="text" placeholder="Contraseña"></input>
                    <button class="form-button">Iniciar sesión</input></button>
                    <a class="missed-pass" href="">¿Olvidaste tu contraseña?</a>
                </form>
                <div class="signup-div">
                    <p>¿No tienes una cuenta?</p>
                    <button class="form-button">Crear cuenta nueva</button>
                </div>
            </div>
            <div class="loginimg-container">
                <img class="login-image" src="{% static 'assets/loginimage.jpg' %}">
            </div>
        </div>
    </body>
</html>