{% extends "dashboard_home.html" %}

{% load static %}

{% block title %}Pacientes{% endblock %}

{% block content %}

<style>

    .container_recetas {
        color: white;
        margin: 30px 200px 25px 25px;
    }

    .info_recetas {
        color: white;
        background-color: #35333C;
        dispĺay: flex;
        margin: 20px
        padding: 20px 20px;
    }

    .button-register {
        margin: 10px 10px 10px 1000px;
    }

    .next-button{
        width: 125px;
        height: 30px;
        text-align: center;
        background-color: #51369A;
        color: white;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        align-self: center;
        margin-right: 16%;
        transition: all ease 0.5s;
    }
    
    .next-button:hover{
        background-color: #0088a9;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .next-button.edit-button{
        background-color: #04AA6D;
    }

    .next-button.delete-button{
        background-color: #d54e31;
    }

    table, th, td {
        width: 100%;
        border: 1px solid;
    }

    a {
        color: #72A0C1;
    }

    #confirmPopup{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.4s ease;
        opacity: 0;
        transform: scale(0.9);
    }

    #confirmPopup.show{
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: auto;
        transform: scale(1);
    }

    .confirmPopup2{
        background: #35333C;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 300px;   
    }

    .confirmButtons{
        display: flex;
        margin-left: 10%;
    }

    #toast {
        display: none;                 
        position: fixed;               
        bottom: 20px;                   
        right: 20px;                    
        background: #04AA6D;          
        color: white;                   
        padding: 15px;                  
        border-radius: 5px;             
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
        opacity: 0;                     
        transform: translateY(20px);    
        transition: opacity 0.3s ease,  
                    transform 0.3s ease; 
    }

    #toast.show {
        display: block;               
        opacity: 1;                    
        transform: translateY(0);       
    }

</style>

<body>
<h1 style="margin-top: 60px; color: white;">Pacientes</h1>

<div id="toast">
    Paciente eliminado correctamente.
</div>

<div class="container_recetas">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <button id="npaciente" class="next-button" onclick="npaciente()">Nuevo Paciente</button>

        <input 
            type="text" 
            id="searchInput" 
            placeholder="Buscar paciente..." 
            style="margin-bottom: 20px; padding: 5px; border-radius: 5px; border: 1px solid #ccc; width: 300px;"
        />
    </div>

    <div id="confirmPopup">
        <div class="confirmPopup2">
            <p id="modalText" style="margin-bottom: 20px;">¿Estás seguro de que deseas eliminar este paciente?</p>
            <div class="confirmButtons">
                <button id="confirmDelete" class="next-button edit-button" style="margin-right: 10px;">Sí</button>
                <button id="cancelDelete" class="next-button delete-button">No</button>
            </div>
        </div>
    </div>

    {% for item in all %}
    <div class="info_recetas" data-paciente="{{ item.nombre }} {{ item.apellido_paterno }} {{ item.apellido_materno }}">
        <table>
            <tr>
                <td>
                    <a href="{% url 'mostrar_paciente' item.id %}" style="color: #ffffff; text-decoration: none;">
                    Paciente: {{ item.nombre }} {{ item.apellido_paterno }} {{ item.apellido_materno }} | <br>
                    Edad: {{ item.edad }} |
                    Sexo: {{ item.sexo }} |
                    Teléfono: {{ item.telefonoP }} |
                    Email: {{ item.emailP }}
                    </a>     
                </td>
                <td align="right">
                    <a href="{% url 'update_paciente' item.id %}">
                        <button class="next-button edit-button" type="button">Editar</button>
                    </a>
                </td>
                <td>
                    <button class="next-button delete-button" type="button" onclick="confirmDelete('{{ item.id }}', '{{ item.nombre }} {{ item.apellido_paterno }} {{ item.apellido_materno }}')">Eliminar</button>                 
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const eliminado = sessionStorage.getItem('pacienteEliminado');
    
        if (eliminado === 'true') {
            // Mostrar la notificación
            showToast('Paciente eliminado correctamente.');
    
            // Limpia el indicador para que no se muestre nuevamente
            sessionStorage.removeItem('pacienteEliminado');
        }
    });
    document.getElementById('searchInput').addEventListener('input', function () {
        const filter = this.value.toLowerCase();
        const pacientes = document.querySelectorAll('.info_recetas');

        pacientes.forEach(paciente => {
            const nombreCompleto = paciente.getAttribute('data-paciente').toLowerCase();
            if (nombreCompleto.includes(filter)) {
                paciente.style.display = ''; // Muestra el paciente
            } else {
                paciente.style.display = 'none'; // Oculta el paciente
            }
        });
    });

    let deleteId = null;

    function confirmDelete(id, name){
        deleteId = id;
        const modal = document.getElementById('confirmPopup');
        const modalText = document.getElementById('modalText');

        modalText.textContent = `¿Estás seguro de que deseas eliminar a ${name}?`;

        modal.classList.add('show');

    }

    document.getElementById('cancelDelete').addEventListener('click', function(){
        const modal = document.getElementById('confirmPopup');

        modal.classList.remove('show');

    });

    document.getElementById('confirmDelete').addEventListener('click', function(){
        if (deleteId){
            sessionStorage.setItem('pacienteEliminado', 'true');
            window.location.href = `/delete_paciente/${deleteId}`;
        }
    })

    function npaciente() {
        window.location.href = "/reg_paciente"; 
    }

    function showToast(message) {
        const toast = document.getElementById('toast');
        toast.textContent = message;
    
        // Muestra el toast
        toast.style.display = 'block';
        toast.style.opacity = '1';
        toast.style.transform = 'translateY(0)';
    
        // Oculta el toast automáticamente después de 3 segundos
        setTimeout(() => {
            toast.style.opacity = '0';
            toast.style.transform = 'translateY(20px)';
            setTimeout(() => {
                toast.style.display = 'none';
            }, 300); // Espera a que termine la animación antes de ocultarlo completamente
        }, 3000); // Tiempo visible del toast
    }


</script>
</body>
{% endblock %}