{% extends "dashboard_home.html" %}

{% load static %}

{% block title %}Pacientes{% endblock %}

{% block content %}

<style>

    .container_paciente {
        color: white;
        margin: 30px 200px 25px 25px;
    }

    .info_paciente {
        color: white;
        background-color: #35333C;
        dispĺay: flex;
        margin: 20px
        padding: 20px 20px;
    }

    .button-register {
        margin: 10px 10px 10px 1000px;
    }

    .next-button{
        width: 125px;
        height: 30px;
        text-align: center;
        background-color: #51369A;
        color: white;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        align-self: center;
        margin-right: 16%;
        transition: all ease 0.5s;
    }
    
    .next-button:hover{
        background-color: #0088a9;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .next-button.edit-button{
        background-color: #04AA6D;
    }

    .next-button.delete-button{
        background-color: #d54e31;
    }

    table, th, td {
        width: 100%;
        border: 1px solid;
    }

    a {
        color: #72A0C1;
    }

</style>

<body>
<h1 style="margin-top: 60px; color: white;">Pacientes</h1>

<button id="npaciente" class="next-button" onclick="npaciente()">Nuevo Paciente</button>

<div class="container_paciente">
    {% for item in all %}
    
    <div class="info_paciente">
        <table>
            <tr>
                <td>
                    <a href="{% url 'mostrar_paciente' item.id %}" style="color: #ffffff; text-decoration: none;">
                    Paciente: {{item.nombre}} {{item.apellido_paterno}} {{item.apellido_materno}} | <br>
                    Edad: {{item.edad}} |
                    Sexo: {{item.sexo}} |
                    Telefono: {{item.telefonoP}} |
                    Email: {{item.emailP}}
                    </a>     
                </td>
                <td align="right">
                    <a href="{% url 'update_paciente' item.id %}"> <button class="next-button edit-button" type="button">Editar</button></a>
                </td>
                <td>
                    <a href="{% url 'delete_paciente' item.id %}"> <button class="next-button delete-button" type="button">Eliminar</button></a>                    
                </td>
            </tr>
        </table>
    </div>

    
{% endfor %}
<script>
    
    function npaciente() {
       
        window.location.href = "/reg_paciente"; 
    }
</script>
</body>
{% endblock %}