{% extends "dashboard_home.html" %}

{% load static %}

{% block title %}Registro de Paciente{% endblock %}

{% block content %}

<div class="paciente-form">
    <h1 style="text-align: center;">Registro de Pacientes</h1>
    <div class="paciente-steps">
        <div id="progress"></div>
        <p class="step">Datos Generales</p>
        <p class="step">Informacion de padecimiento</p>
        <p class="step">Antecedentes médicos</p>
        <p class="step">Evaluaciones físicas</p>
        <p class="step">Información de estilo de vida</p>
    </div>

<form method="POST" action="{% url 'pacientes' %}" id="pacientes-form">
{% csrf_token %}
    <div id="form1">
        <div class="form-step">
            <div class="datos-group">
                <label for="pacientes-form">Nombre</label>
                <input class="short-input" name="name" type="text">

                <label for="pacientes-form">Apellido Paterno</label>
                <input class="short-input" name="apellido1" type="text">

                <label for="pacientes-form">Apellido Materno</label>
                <input class="short-input" name="apellido2" type="text">
            </div>

            <div class="datos-group">
                <label for="pacientes-form">Edad (años)</label>
                <input class="short-input" name="age" type="number" max="125" min="0">
                    
                <label for="pacientes-form">Sexo</label>
                <select class="short-input">
                    <option></option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>

                <label for="pacientes-form">Dirección</label>
                <input class="short-input" name="address" type="text" placeholder="Calle, Número, Colonia, CP, Ciudad">
            </div>

            <div class="datos-group">
                <label for="pacientes-form">Número de telefono</label>
                <input class="short-input" name="phone" type="tel" maxlength="10" minlenght="8" placeholder="668-xxxxxxx">

                <label for="pacientes-form">Correo electrónico</label>
                <input class="short-input" name="address" type="email" placeholder="ejemplo@gmail.com">
            </div>
            
            <div class="button-container">
                <button id="next1"class="next-button" type="button">Siguiente</button>
            </div>
        </div>
    </div>

    <div id="form2">
        <div class="form-step">
            <div class="datos-group">
                <label for="pacientes-form">Cuándo comenzaron los sintomas</label>
                <input class="short-input" name="comienzo_sintomas" type="date">
    
                <label for="pacientes-form">Frecuencia del dolor</label>
                <input class="form-input" name="frecuencia" type="text">
    
                <label for="pacientes-form">Actividad o movimiento causante del dolor</label>
                <input class="form-input" name="causa" type="text">
            </div>
    
            <div class="datos-group">
                <label for="pacientes-form">Descripción del dolor</label>
                <input class="form-input" name="descripcion_dolor" type="text">
                
                <label for="pacientes-form">Intensidad del dolor</label>
                <input class="short-input" name="intensidad" type="range">
            </div>
    
            <div class="datos-group">
                <label for="pacientes-form">Plan de tratamiento</label>
                <input class="form-input" name="plan" type="text">
            </div>
            
            <div class="button-container">
                <button id="back1" class="next-button" type="button">Anterior</button>
                <button id="next2" class="next-button" type="button">Siguiente</button>
            </div>
        </div>
    </div>

    <div id="form3">
        <div class="form-step">
            <div class="datos-group">
                <label for="pacientes-form">Lesiones recientes o pasadas</label>
                <input class="form-input" name="lesiones" type="text">
    
                <label for="pacientes-form">Condición médica diagnosticada</label>
                <input class="form-input" name="condicion" type="text">
    
                <label for="pacientes-form">Tratamientos previos</label>
                <input class="form-input" name="tratamientos_prev" type="text">
            </div>
    
            <div class="datos-group">
                <label for="pacientes-form">Medicación Actual</label>
                <input class="form-input" name="medicacion_actual" type="text">
            </div>
            
            <div class="button-container">
                <button id="back2" class="next-button" type="button">Anterior</button>
                <button id="next3" class="next-button" type="button">Siguiente</button>
            </div>
        </div>
    </div>

    <div id="form4">
        <div class="form-step">
            <div class="datos-group">
                <label for="pacientes-form">Peso(kg)</label>
                <input class="form-input" name="peso" type="number" min="0" max="300">

                <label for="pacientes-form">Altura(cm)</label>
                <input class="form-input" name="altura" type="number" min = "20" max="250">

                <label for="pacientes-form">Rango de movimiento</label>
                <input class="form-input" name="rango_movimiento" type="text">
            </div>

            <div class="datos-group">
                <label for="pacientes-form">Presion arterial</label>
                <input class="form-input" name="presion_arterial" type="text">
            </div>
            
            <div class="button-container">
                <button id="back3" class="next-button" type="button">Anterior</button>
                <button id="next4" class="next-button" type="button">Siguiente</button>
            </div>
        </div>
    </div>

    <div id="form5">
        <div class="form-step">
            <div class="datos-group">
                <label for="paciente-form">Ocupacion actual</label>
                <input class="form-input" name="occupation" type="text">

                <label for="paciente-form">Actividad Fisica</label>
                <input class="form-input" name="actividad_fisica" type="text">

                <label for="paciente-form">Patrones de descanso</label>
                <input class="form-input" name="patrones_descanso" type="text">
            </div>

            <div class="datos-group">
                <label for="paciente-form">Alimentación</label>
                <input class="form-input" name="alimentacion" type="text">
            </div>
            
            <div class="button-container">
                <button id="back4" class="next-button" type="button">Anterior</button>
                <button class="next-button" type="Submit">Registrar</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'reg_paciente.js' %}"></script>
{% endblock %}  
