{% extends "base.html" %}


{% load static %}

{% block title %} 
Registro
{% endblock %}

{%block content %}

{% if form.errors %}
    <div class="alert-form">
        Hubo un error en tu registro
    </div>
{% endif %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>


    <div class="form-container">
        <div class="login-container">
            <div class="signup-header">
                <a href="/login"><span class="back-button"><</span></a>
                <h2>Crea una cuenta nueva</h2>
            </div>
            <form action="/register/" method="POST">
                {% csrf_token %}
                <div id="form1">
                    <div class="signup-names">
                        <div class="input-group">
                            <label>Nombre</label>
                            {{form.nombre}}
                        </div>
                        <div class="input-group">
                            <label>Apellido Paterno</label>
                            {{form.apellido_paterno}}
                        </div>
                        <div class="input-group">
                            <label>Apellido Materno</label>
                            {{form.apellido_materno}}
                        </div>
                    </div>
                    <div class="signup-form">
                        <label>Nombre de Usuario</label>
                        {{form.username}}
                        <label>Contraseña</label>
                        {{form.password1}}
                        <label>Confirma tu contraseña</label>
                        {{form.password2}}
                        <label>Correo eléctronico</label>
                        {{form.email}}
                    </div>

                    <div style="left: 70%; top: 100%;"class="button-container">
                        <button id="next1" class="next-button" type="button">Siguiente</button>
                    </div>
                </div>

                <div id="form2">
                    <div class="signup-form">
                        <label>Ciudad</label>
                        {{form.ciudad}}
                        <label>Número de teléfono</label>
                        {{form.celular}}
                        <label>Número de Cédula</label>
                        {{form.cedula}}
                        <label>Experiencia</label>
                        {{form.experiencia}}
                        <label>Dirección</label>
                        {{form.direccion}}
                    </div>
                    
                    <div style="left: 60%; top: 105%"class="button-container">
                        <button id="back1" class="next-button" type="button">Anterior</button>
                        <button class="next-button" type="Submit">Registrar</button>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="signupimg-container">
            <img class="login-image" src="{% static 'assets/loginimage.jpg' %}">
        </div>
    </div>

{% endblock  %}

{% block extra_js %}
<script src="{% static 'register.js' %}"></script>
{% endblock %}  
