{% extends "dashboard_home.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Registrar una cita{% endblock %}

{% block content %}

<div class="receta-container">
    <h1 style="text-align:center; margin-bottom: 30px;">Citas</h1>
    
    <form action="" method=POST>
        {% csrf_token %}
        <div class="form-grid">
            <div class="form-group">
                <label for="receta-form">Paciente</label>
                {% render_field form.paciente class+="short-input" %}
            </div>
            <div class="form-group">
                <label for="receta-form">Diagnóstico</label>
                {% render_field form.diagnostico class+="short-input" %}
            </div>
            <div class="short-inputs">
                <div class="form-group">
                    <label for="receta-form">Fecha</label>
                    {% render_field form.fecha type="date" class+="short-input" %}
                </div>
            </div>
        </div>

        <div class="form-grid">
            <div class="form-group">
                <label for="receta-form">Alergias</label>
                {% render_field form.alergia class+="short-input" %}
            </div>
        </div>

        <div class="section-title">
            <h2>Medicamento</h2>
        </div>

        <div class="form-grid3">
            <div class="form-group">
                <label for="receta-form">Nombre del medicamento</label>
                {% render_field form.medicamento class+="short-input" %}
            </div>
            <div class="form-group">
                <label for="receta-form">Forma farmacéutica</label>
                {% render_field form.forma class+="short-input" %}
            </div>
            <div class="form-group">
                <label for="receta-form">Dosis</label>
                {% render_field form.dosis class+="short-input" %}
            </div>
        </div>

        <div class="form-grid3">
            <div class="form-group">
                <label for="receta-form">Vía</label>
                {% render_field form.via class+="short-input" %}
            </div>
            <div class="form-group">
                <label for="receta-form">Duración</label>
                {% render_field form.duracion class+="short-input" %}
            </div>
            <div class="form-group">
                <label for="receta-form">Frecuencia</label>
                {% render_field form.frecuencia class+="short-input" %}
            </div>
        </div>

        <div class="section-title">
            <h2>Otras indicaciones</h2>
        </div>
        
        <div class="form-group">
            {% render_field form.indicaciones class+="short-input" %}
        </div>

        <div class="button-container">
            <button type="submit" class="next-button">Guardar</button>
        </div>
    </form>

{% endblock %}
